body{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  
}
.pathey{
    margin: 50px 150px;
    font-size: 34px;
    font-weight: 900;
}
.light-color{
    color: #252432;
}

    

.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 652px;
}
/* shared styles */
.btn-primary{
    list-style: none;
    border-radius: 10px;
    padding: 12px 36px;
    margin: 50px 150px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul a {
    text-decoration: none;
    color: #4E47FF;
    list-style: none;
}
nav ul a button {
    text-decoration: none;
    color: #4E47FF;
}
ul li {
    display: flex;
    list-style: none;
}
ul {
    display: flex;
    justify-content: space-between;
}
/* banner styles */
.banner{
/*      
    align-items: center;
    justify-content: center;
    /* padding: 100px 500px; */
    text-align: center;
}
.btn-banner{
    margin-top: 0 ;
    width: 174px;
    height: 48px;
    padding: 10px 30px;
}

 .banner-title{
    max-width: 905px;
    height: auto;
    font-size: 65px;
    font-weight: bold;
    padding: 50px 500px 50px 500px; 
   

}

/* action style */
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    margin: 23px 0;
    width: 517px;
    height: auto;
}
.main{
    display: flex;
    margin: 116px 169px 0 141px;
    justify-content: space-between;
    align-items: center;
    
}
.img{
    border-radius: 45px;
}
.btn-launch{
    margin-left: 0;
    margin-top: 0;
}
.h4{
    margin-top: 100px;
}

.stats{
    display: flex;
    text-align: center;
    
}
.stats-head{
  }  
.stats-main{
background-color: rgba(78, 71, 255, .1);
}
